@use "variables" as *;

@mixin largeScreens {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin card() {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: $border-radius;
  backdrop-filter: blur(50px);
}

@mixin cardHeader() {
  width: 100%;
  border-bottom: $border;
  padding-bottom: $card-header-gap;
  margin-bottom: $card-header-gap;
  font-size: 1rem;
}
