@use "mixins" as *;
@use "variables" as *;

.action-bar {
  display: flex;
  justify-content: space-between;

  &__back,
  &__favorite {
    width: 2.5rem;
    cursor: pointer;
  }
}

.detail-view {
  margin-top: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__location {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__temperature_c {
    margin: 0.5rem 0;
    font-size: 4.5rem;
    font-weight: 200;
  }

  &__condition {
    margin-bottom: 0.25rem;
  }

  &__caroussel {
    display: flex; // Aligns children in a row
    flex-direction: row; // Default, but good for clarity
    gap: 1.5rem; // Adds spacing between the items
    overflow-x: auto; // Allows horizontal scrolling if items overflow
    padding-bottom: 0.5rem; // Space for a scrollbar if needed
    width: 100%;
    // Optional: Hide scrollbar for a cleaner look
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__icon {
    width: 4rem;
  }
  // Die Card innerhalb der Box
  &__card {
    margin-top: 2rem;
    @include card();

    &__forecasted_condition {
      @include cardHeader();
    }
    &__3daysForecast {
      @include card();
      margin-top: 2rem;

      &__title {
        @include cardHeader();
      }
    }
  }

  &__3daysForecasts {
    gap: $card-header-gap;
    padding: 0.5rem 0;
  }

  &__3daysForecast {
    display: flex;
    align-items: center;
    gap: $card-header-gap;

    &__icon {
      width: 4rem;
    }
  }
}

.mini-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.mini-stat {
  @include card();

  &__value {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
