@use "mixins" as *;

.detail-view {
  margin-top: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__location {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__temperature_c {
    margin: 0.5rem 0;
    font-size: 4.5rem;
    font-weight: 200;
  }

  &__condition {
    margin-bottom: 0.25rem;
  }

  &__caroussel {
    display: flex; // Aligns children in a row
    flex-direction: row; // Default, but good for clarity
    gap: 1.5rem; // Adds spacing between the items
    overflow-x: auto; // Allows horizontal scrolling if items overflow
    padding-bottom: 0.5rem; // Space for a scrollbar if needed

    // Optional: Hide scrollbar for a cleaner look
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__icon {
    width: 4rem;
  }
  // Die Card innerhalb der Box
  &__card {
    margin-top: 2rem;
    @include card();

    &__forecasted_condition {
      @include cardHeader();
    }
  }
}
