@use "mixins" as *;
@use "detailView" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");
$background-color: #333;

* {
  margin: 0;
  padding: 0;
}

body {
  @include largeScreens {
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#app {
  padding: 1rem;
  border: 1px solid #fff;
  font-family: "Inter" sans-serif;

  @include largeScreens {
    width: 400px;
    height: 900px;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 5px black;
    min-height: unset;
  }
}
